.container {
    max-width: 2600px;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    background-image: linear-gradient(to right top, #4e227b, #4d459f, #4765c0, #3c86de, #33a6f9)
}
